html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 230px;
  font-weight: 300;
  margin: 100px auto 40px auto;
  
  height: 550px;
  width: 550px;
  border-radius: 50%;
  line-height: 530px;
  color: #F6F4E4;
  background: #FBCF61;
}

h2 {
  font-size: 60px;
  font-weight: 100;
  margin-top: 0px;
  color: #404148;
}

h3 {
  font-weight: 400;
  margin-bottom: 30px;
}

.screen {
  position: relative;
}

#screen-1 {
  background: #F6F4E4;
}

#screen-2 {
  background: #F6F4E4;
}

#screen-3 {
  background: #216163;
}

#screen-5 {
  background: #F6F4E4;
}

#screen-4 {
  background: #3b3363;
}

#screen-6 {
  background: #F6F4E4;
}

#screen-7 {
  background: #222222;
}

#screen-8 {
  background: #F6F4E4;
}

.intro {
  padding: 0px 240px 40px 240px;
  font-size: 30px;
  font-weight: 300;
  color: #222222;
}

.intro.top {
  margin-top: 200px;
  color: #222222;
}

.specifics {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 450px;  
  color: #FDFEFB;
}

.letter {
  color: #FDFEFB;
  position: absolute;
}

.letter img {
  float: left;
}
.letter p {
  float: right;
  padding: 40px 20px;
  margin-top: 60px;
}

.letter-x {
  top: 280px;
  left: 15%;
}

.letter-e {
  top: 280px;
  left: 50%;
}


.letter-a {
  top: 280px;
  left: 73%;
}


.column {
  font-size: 12pt;
  line-height: 15pt;
  width: 25%;
  display: inline-block;
  margin: 180px 15px 0 15px;
  text-align: left;
  vertical-align: top;
  color: #222222;
}

.weights-gallery {
  margin-top: 100px;
  cursor: pointer;
  font-size: 510px;
  position: relative;
}

.weights-gallery .weight {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  color:#F6F4E4;
  opacity: 0.4;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

.weight-100 {
  font-weight: 100;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-700 {
  font-weight: 700;
}

.weight-900 {
  font-weight: 900;
}

.weights-gallery.expanded .weight {
  opacity: 1;
}

.weights-gallery.expanded .weight-100 {
  left: 16%;
}

.weights-gallery.expanded .weight-300 {
  left: 33%;
}

.weights-gallery.expanded .weight-400 {
  left: 50%;
}

.weights-gallery.expanded .weight-700 {
  left: 67%;
}

.weights-gallery.expanded .weight-900 {
  left: 84%;
}

.click-here {
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border-radius: 50%;
  background-color: black;
  line-height: 100px;
}

#style-switch {
  position: absolute;
  top: 150px;
  right: 10%;
  font-size: 40px;
  height: 50px;
  width: 50px;
  color: white;
  text-decoration: none;
  font-weight: 300;
  border-radius: 50%;
  background-color: #222222;
  line-height: 45px;
}


.italic {
  font-style: italic;
}

.weight-info {
  font-size: 40px;
  font-weight: 100;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.expanded .weight-info {
  opacity: 1;
    -webkit-transition: all 500ms ease-out 500ms;
    -moz-transition: all 500ms ease-out 500ms;
    transition: all 500ms ease-out 500ms;
}


#clock {
  margin-top: 250px;
  font-size: 300px;
  color: #216163;
}


.languages-gallery {
  cursor: pointer;
  font-size: 250px;
  font-weight: 400;
}

.language {
  display: none;
  margin-bottom: 100px;
  color: #F6F4E4;
}

.language.active {
  display: block;
}

.language-info {
  font-size: 35px;
  font-weight: 100;
  color: #9995bc;
}

#current-language {
  font-weight: 400;
  text-transform: capitalize;
  color: #F6F4E4;
}

.editable {
  width: 60%;
  height: 60%;
  vertical-align: middle;
  border: none;
  border: 1px solid transparent;
  background: none;
  font-family: 'Lato', sans-serif;
  text-align: center;
  overflow: hidden;
  color: #3b3363;
}

.tools {
  margin: 70px 0 160px 0;
  text-align: center;
}

.custom-select {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
    border: 1px solid #3b3363;
    color: #3b3363;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #F6F4E4 url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.custom-select.small {
  width: 80px;
}

.custom-select select {
    color: #3b3363;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.custom-select select:focus {
    outline: none;
}

.get-font {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 60px;
  font-size: 30px;
  text-decoration: none;
  color: #3b3363;
}





